
       #language {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-top: 20px;
        }

        #language a {
            margin-left: 20px;
            font-size: 2em;
        }

        a {
            color: blue;
            text-decoration: none;
            font-size: 100%;
            font-style: normal;
            font-family: sans-serif;
            
        }

        a:hover {
            color: red;
        }

        body {
            background-color: #1d913d;
            text-align: center;
            height: 100%;
            margin: 0 auto;
            font-size: 100%;
            font-style: normal;
            font-family: sans-serif;
        }

        #container {
            position: relative;
            margin: 0 auto;
            width: 80%;
            height: 100%;
            background: #FFFFFF;
            padding-left: 20px;
            overflow: auto;
            text-align: left;
            border-left: 2px solid #003300;
            border-right: 2px solid #003300;
        }

        li {
            font-weight: bold;
            margin-bottom: 8px;
            margin-right: 30%;
        }

        .kursiv {
            font-style: italic;
            font-weight: normal;
        }

        h2 {
            color: green;
        }

        @media only screen and (max-width: 1200px) {
            #container {
                width: 100%;
            }
            li {
                margin-right: 10%;
            }
        }
